@charset "utf-8";


body{
	margin:0px;

}


.imagemFundo{
	
	width:100%;
	height:100%;
	background-image: url(../img/dragao.jpg);
	background-repeat: no-repeat;
	

	background-size: cover;
	z-index: -10;

}

.logo{
	width: 150px;
	height: 100px;


}


.menu{
	width: 100%;
	height:11%;
	top: -139px;
	position: relative;
	background-color:#666666;


	
}

.opaco{
	background-color:black;
	position: relative;
	width: 100%;
	height:20%;
	opacity: .7;
	float: top;
	z-index: -1;
	
}

.opcoes{
	position: relative;
	width: 160px;
	margin: 0 auto;
	bottom:35px;
	z-index: 0;
	
}

.links{
	position: relative;
	width: 250px;
	float: right;
	bottom:70px;
	right: 30px;
	z-index: 0;
}

.botao{
	background-color: #4D2315;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
	height:35px;
	z-index: 0;
}

.botao:hover{
	cursor: pointer;
	background-color: #AD2315;
	
}

.centro{
	position: relative;
	width: 500px;
	height:100px;
	margin: 0 auto;
	top: 150px;
	
}

h3{
	color: #FFFFFF;
	
}

.bt-posicao{

	position: relative;
	margin: 0 auto;
	width: 85px;
	
}

.slogan{
	height:auto;
	background-color: #f1f1e6;
	float:top;
	font-weight:bold;

}

h7{
	position: relative;
	margin-left:43%;
	
}


.div-produtos{
	width:99.8%;
	height:50%;
	background-color: #f1f1e6;
	border: solid 2px;
}

.div-produtos-titulo{
	margin: 0 auto;
	width:300px;
	height:50px;
	bottom:15px;
	padding-top: 10px;
	position:relative;
	font-family:Khand;
	margin-bottom:40px;
	color: #584a3e;
}

.div-container-produtos-produtos{
	margin: 0 auto;
	width:700px;
	height:200px;
}

.div-produtos-produtos{
	float:left;
	width:200px;
	height:200px;
	position:relative;
	background-color:#506;
	font-family:Khand;
	border: solid #999 2px;
	float: left;
	margin-right: 25px;
}



.div-produtos-produtos-imagem{
	width: 100%;
	height: 70%;
	background-color: gray;
}

.div-produtos-produtos-imagem img{
	width:100%;
	height:100%;
}

.div-produtos-produtos-descricao{
	width: 100%;
	height: 30%;
	background-color: #969696;	
	font-size: 25px;
}

.div-produtos-produtos-descricao-nome{
	width: 100%;
	height: 50%;
}

.div-produtos-produtos-descricao-valor{
	width: 100%;
	height: 50%;
}

.div-produtos-botao{
  	width: 50px;
	margin: 0 auto;
	font-size: 20px;
	line-height: 22px;
	font-weight: 500;
	text-align: center;
	color: #ffffff;
	padding: 15px 98px 14px;
	margin-top:40px;
	background: #d44934;
	border: none;
	border-radius: 2px;
	height: auto;

}

.div-produtos-botao:hover{
	background: #7a0000;
	cursor: pointer;
}

.frase{
	background: #743023;
	border: solid #000000 1px;
	border-radius: 3px;
	width: 300px;
	height:80px;
	font-family: Khand;
	opacity:95%;
	margin-bottom:10px;
}

.div-video{
	width:99.8%;
	height:70%;
	background-color: #47413c;
	border: solid 2px;
	
}

.div-video-titulo{
	margin: 0 auto;
	width:400px;
	height:50px;
	padding-top: 10px;
	position:relative;
	font-family:Khand;
	margin-bottom:40px;
	color: #f1f1e6;
	
}

.div-video-video{
	margin: 0 auto;
	width:50%;
	height:80%
}

.div-depoimentos{
	background-color: #f1f1e6;
	width:99.8%;
	height: 28%;
	border: solid 2px;
	position:relative;
	
}

.div-depoimentos-campo{
	margin: 0 auto;
	width:40%;
	position:relative;
	
}



.div-depoimentos-texto{
	margin: 0 auto;
	width:400px;
	height:50px;
	padding-top: 10px;
	position:relative;
	font-family:Khand;
	margin-bottom:40px;
	color: #584a3e;
	position:relative;
}


.rodape-img{
	width:60px;
	height:60px;
	padding-left:35px;
}

.div-contatos{
	background-color: #f1f1e6;
	width:99.8%;
	height:60%;
	border: solid 2px;
}
.div-contatos-mapa{
	margin: 60px;
	width:32.1%;
	
}
.div-contatos-contatos{
	position: relative;
	margin: 0 auto;
	width: 28%;
	bottom:250px;
	color: #584a3e;
	
}

.botao-enviar{
	background-color: #4D2315;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
	height:35px;
	z-index: 0;
	width: 50px;
}

.botao-enviar:hover{
	cursor: pointer;
	background-color: #AD2315;
	
}

.div-Topo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 19px 0 17px;
  background: rgba(71, 65, 60, 0.9);
  width: 100%;
  height: 15%;
}

.rodapee {
  text-align: center;
  padding: 44px 0 40px;
  font-size: 12px;
  line-height: 25px;
  box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  background-color: #47413c;
}
.rodapee-logo {
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
  color: #909086;
}
.rodape-nome-marca{
  position: relative;
  font-size: 35px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  overflow: hidden;
  padding: 0 0 4px;
}

.input_login{
	border:solid black 1px;
	margin-bottom:5px;
	background-color:white;
	color:black;
	float:left;
	height:15%;
	width:100%;
	padding-left:10px;
	
}

.buttton_login{
	margin-right:25%;
	margin-left:25%;
	margin-top:5px;
	height:20%;
	width:50%;
	border:none;
	color:white;
	background-color:#4D2315;
	font-size:20px;
}

.div_login{
	height:30%;
	width:20%;
	margin-left:40%;
	margin-right:40%;
	margin-top:15%;
}


.div_mestra{
	height:100%;
	width:100%;	
	margin:auto;
	position:absolute;
	top: 0; left:0 ; bottom:0; right:0;
}

.div_cadastro{
	height:40%;
	width:20%;
	margin-left:40%;
	margin-right:40%;
	margin-top:15%;
	
}

.div_cadastro input{
	border:solid black 1px;
	margin-bottom:2px;
	background-color:white;
	color:black;
	float:left;
	height:15%;
	width:100%;
	padding-left:10px;
	
}

.div_cadastro button{
	height: 15%;
	width:100%;
	background-color:#4D2315;
	border:none;
	color:white;
	margin-top:5px;
	font-size:20px;
	
}

.principal{
	width:100%;
	height:100%;

	margin:none;
	padding:none;
	border:none;
	float:left;
	
}

.card-jogo{
	height:62%;
	width:19%;

	float:left;
	margin:5px;
	margin-top:10%;
}

.div-compras{
	height:70%;
	width:100%;
	
}

.botao-compra{
	width:100%;
	margin-left:35%;
	margin-top: 5%;
	
}

.preço{
	margin-left:45%;
	margin-top:2%;
	font-size:20px;
	font-weight:bold;
	color:white;

}

.img_compras{
	width:100%;
	height:100%;

	
}

.botao_compra{
	width:35%;
	height:10%;
	background-color: #4D2315;
	border: none;
	border-radius: 2px;
	color: #FFFFFF;
	font-weight:bold;
	
	
}

.titulo h2{
	color:white;
}